@import "./_variables";
@import "./mixins";

.form {
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
  padding: 1rem;
  margin: 0.5rem;
  position: relative;
  font-size: 1rem;

  &__form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  &__input {
    margin-bottom: 1rem;
    padding: 1rem;
  }
  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__button {
    @include button;
    background-color: $buttonLink;
    width: 100%;
    font-size: 1.4rem;
  }
  &__sent {
    right: 50%;
    top: 50%;
    position: fixed;
    background-color: $footer;
    padding: 1rem;
    color: $specialfont;
    border-radius: 3px;
  }
  &__sentButton {
    @include button;
    width: 100%;
    color: black;
    font-weight: 600;
    font-size: 1rem;
  }
  &__sentButton:hover {
    background-color: grey;
  }
}
