.form {
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
  padding: 1rem;
  margin: 0.5rem;

  &__form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  &__input {
    margin-bottom: 1rem;
    padding: 1rem;
  }
  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__button {
    width: 100%;
  }
}
