.header {
  display: flex;
  justify-content: center;
  width: 100%;

  &__title {
    font-family: "Asul", serif;
    font-size: 2rem;
  }
  &__navburger {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .header {
    display: flex;
    &__title {
      font-size: 1.5rem;
    }
    &__navburger {
      display: block;
      padding: 0.5rem;
    }
  }
}
