.home {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__buttonBook {
    padding: 1rem;
    max-width: 8rem;
    align-self: center;
    margin-bottom: 3rem;
  }
  &__buttonBookLink {
    text-decoration: none;
  }

  &__buttonBook:hover {
    font-weight: 600;
  }
  &__buttonInfo {
    padding: 0.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
  }
  &__buttonInfo:hover {
    font-weight: 600;
  }

  &__section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  &__oils {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  &__buttonLink {
    margin-left: 0.5rem;
    max-width: 6rem;
    max-height: 2rem;
    padding: 0.5rem;
  }
  &__buttonLinkA {
    text-decoration: none;
  }
  &__buttonLink:hover {
    font-weight: 600;
  }
}
