.home {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__button {
    padding: 1rem;
    max-width: 7rem;
    align-self: center;
    margin-bottom: 3rem;
  }
  &__button:hover {
  }

  &__section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  &__oils {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  &__buttonLink {
    margin-left: 0.5rem;
    max-width: 4rem;
    max-height: 2rem;
  }
  &__buttonLink:hover {
    font-weight: 600;
  }
}
