@import "./_variables";
@import "./mixins";

.home {
  display: flex;
  flex-direction: column;
  @include view;

  &__buttonBook {
    font-size: 1.5rem;
    padding: 1rem;
    max-width: 11rem;
    min-width: 3.75rem;
    min-height: 3.75rem;
    align-self: center;
    margin-bottom: 3rem;
    background: $buttonLink;
    font-size: 1.3rem;
    @include font;
    @include button;
    background: rgb(234, 198, 200);
    background: radial-gradient(
      circle,
      rgba(234, 198, 200, 1) 0%,
      rgba(224, 109, 113, 0.9248937612154237) 100%
    );
  }
  &__buttonBookLink {
    @include nav;
  }

  &__buttonBook:hover {
    font-weight: 600;
  }
  &__buttonInfo {
    min-width: 3.75rem;
    min-height: 3.75rem;
    padding: 0.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    background-color: $buttonInfo;
    @include button;
    @include font;
    font-size: 1.1rem;
    background: rgb(228, 147, 150);
    background: linear-gradient(
      90deg,
      rgba(228, 147, 150, 1) 0%,
      rgba(233, 174, 176, 1) 51%,
      rgba(228, 155, 158, 1) 100%
    );
  }
  &__buttonInfo:hover {
    font-weight: 600;
  }

  &__section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 150%;
    width: 100%;
    box-sizing: border-box;
  }
  &__oils {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  &__buttonLink {
    margin-left: 0.5rem;
    background-color: $buttonInfo;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 7rem;
    max-height: 3rem;
    min-width: 3.75rem;
    min-height: 3.75rem;
    padding: 0.5rem;
    @include nav;
    @include button;
  }
  &__buttonLinkA {
    @include nav;
  }
  &__buttonLink:hover {
    font-weight: 600;
  }
  &__text {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .home {
    &__navbar {
      display: none;
    }
    &__buttonInfo {
      width: 100%;
    }
  }
}
