.navbar {
  display: flex;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  &__link {
    text-decoration: none;
    padding: 1rem;
    color: black;
  }
  &__link:hover {
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    color: black;
  }
}
