@import "./_variables";
@import "./mixins";

.navbar {
  display: flex;
  background-color: $backround;

  &__link {
    text-decoration: none;
    padding: 1rem;
    color: black;
  }
  &__link:hover {
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    color: black;
  }
}
