@import "./_variables";
@import "./mixins";

.treatments {
  border: 1px solid grey;
  border-radius: 3px;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__buttonInfo {
    @include button;
    background-color: $buttonInfo;
  }
  &__time {
    margin: 0;
  }
}
